# Database
DATABASE_URL="mysql://user:password@host:3306/flambeau_progres"

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

# Resend (emails)
RESEND_API_KEY=""
EMAIL_FROM="Flambeau Progrès <noreply@example.com>"

UPLOAD_DIR=""

AUTH_PROVIDER="better-auth"
NEXT_PUBLIC_AUTH_PROVIDER="better-auth"
WORDPRESS_URL="https://plateforme.flambeaux.org"
NEXT_PUBLIC_WORDPRESS_URL="https://plateforme.flambeaux.org"
