@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container2 {
  padding: 27px;
  display: grid;
  height: 100vh;
  grid-template-rows:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    40px 198px;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) 380px 300px
    10px 430px;
  gap: 45px;
}

.container-box-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}

.box {
  background: #bbd0ff;
  height: 100%;
  position: relative;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
}

.border-top-left1 {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 55px;
  position: relative;
  width: 130px;
  height: 101px;
}
.border-top-left1::after {
  content: "";
  background: #bbd0ff;
  width: 130px;
  height: 101px;
  position: absolute;
  top: 0;
  left: 130px;
  border-top-left-radius: 55px;
  box-shadow: -30px -50px 0 0 #fff;
}
.border-top-left1::before {
  content: "";
  background: #bbd0ff;
  width: 130px;
  height: 101px;
  position: absolute;
  top: 101px;
  left: 0;
  border-top-left-radius: 55px;
  box-shadow: -60px 0 0 0 #fff;
}

.border2 {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
  position: absolute;
  width: 330px;
  height: 101px;
  top: 0;
  left: 50%;
}
.border2::after {
  content: "";
  background: #bbd0ff;
  width: 40px;
  height: 101px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 55.5px 0 0;
}
.border2::before {
  content: "";
  background: #fff;
  width: 40px;
  height: 101px;
  position: absolute;
  top: 0;
  left: 40px;
  border-radius: 0 0 0 55.5px;
  box-shadow: 0 40px 0 0 #bbd0ff;
}

.border1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
  position: absolute;
  width: 330px;
  height: 101px;
  top: 0;
  left: 50%;
}
.border1::after {
  content: "";
  background: #bbd0ff;
  width: 40px;
  height: 101px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 55.5px 0 0 0;
}
.border1::before {
  content: "";
  background: #fff;
  width: 40px;
  height: 101px;
  position: absolute;
  top: 0;
  right: 40px;
  border-radius: 0 0 55.5px 0;
  box-shadow: 0 40px 0 0 #bbd0ff;
}

.container-triangle {
  position: absolute;
  bottom: -42px;
  right: -42px;
  background-color: #ffffff;
}

.triangle-rounded-1 {
  --r: 30px;
  width: 350px;
  aspect-ratio: 1;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  --_g: calc(50% * (1 + 1 / tan(22.5deg)) - var(--r) / (3 * sqrt(2) - 4));
  --_r: calc(var(--r) / tan(22.5deg)), #000 98%, #0000 101%;
  -webkit-mask: radial-gradient(var(--r) at bottom var(--r) left var(--_r)),
    radial-gradient(var(--r) at right var(--r) top var(--_r)),
    conic-gradient(
      from 112.5deg at calc(100% - var(--_g)) calc(100% - var(--_g)),
      #000 45deg,
      #0000 0
    );
  transform: rotate(180deg);
  background: #bbd0ff;
}

.triangle-cache {
  background-color: #bbd0ff;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 42px;
}
.triangle-cache::after {
  content: "";
  background: #bbd0ff;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 278px;
  right: -278px;
}

.box2 {
  grid-column-start: 6;
  grid-row-start: 1;
  grid-row-end: 5;
  z-index: 1;
}
.container-violet {
  background-color: #b8c0ff;
  border-radius: 53px;
  height: 100%;
}
.box3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-start: 6;
  z-index: 1;
}
.box4 {
  grid-column-start: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  z-index: 1;
}
.container-vert {
  background-color: #d9ed92;
  height: 100%;
  border-radius: 67px;
}

.triangle-rounded-container {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 7;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

@media screen and (max-width: 1432px) {
  .container2 {
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 45px;
  }

  .container-box-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .box2 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
  }

  .box3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    z-index: 1;
  }
  .box4 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    z-index: 1;
  }

  .container-triangle,
  .border2,
  .border1,
  .triangle-rounded-container {
    display: none;
  }

  .box {
    border-bottom-right-radius: 55px;
  }
}

@media screen and (max-width: 842px) {
  .container2 {
    display: flex;
    flex-direction: column;
  }

  .container-box-1 {
   height: 677px;
  }

  .box2{
    height: 595px;
  }

  .box3{
    height: 198px;
  }

  .box4{
    height: 294px;
  }

}