.holographic-card {
  width: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  opacity: 55%;
  filter: grayscale(100%);
}

.holographic-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgb(255, 255, 255)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: grayscale(0);
  opacity: 1;
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.holographic-card.active {
  opacity: 1 !important;
  transform: scale(1.05) !important;
  filter: grayscale(0) !important;
}

.holographic-card.active:hover {
  transform: scale(1.05) !important;
}
